/* ------------ОБНУЛЕНИЕ-------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: rgba(0, 87, 146, 1);
}

ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* ----------шрифты---------------- */
@font-face {
  font-family: 'Gilroy-300';
  src: url('../fonts/Gilroy-Light300.eot');
  src: url('../fonts/Gilroy-Light300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Light300.woff') format('woff'),
    url('../fonts/Gilroy-Light300.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-400';
  src: url('../fonts/Gilroy-Regular400.eot');
  src: url('../fonts/Gilroy-Regular400.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular400.woff') format('woff'),
    url('../fonts/Gilroy-Regular400.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-500';
  src: url('../fonts/Gilroy-Medium500.eot');
  src: url('../fonts/Gilroy-Medium500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Medium500.woff') format('woff'),
    url('../fonts/Gilroy-Medium500.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-700';
  src: url('../fonts/Gilroy-Bold700.eot');
  src: url('../fonts/Gilroy-Bold700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold700.woff') format('woff'),
    url('../fonts/Gilroy-Bold700.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* ----------общие стили---------------- */
.container {
  max-width: 1430px;
  padding: 0px 15px;
  margin: 0px auto;
}

.form {
  color: rgba(239, 251, 255, 1);
}

.form__title {
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  font-family: Gilroy-500;
  color: #EFFBFF;
  margin: 22px 0px;
}

.input {
  height: 43px;
  background: transparent;
  border: 1px solid rgba(239, 251, 255, 1);
  padding: 0px 0px 0px 15px;
  color: rgba(239, 251, 255, 1);
  font-family: Gilroy-400;
  font-size: 18px;
  font-style: italic;
}

.input:focus {
  box-shadow: 2px 2px 5px rgba(239, 251, 255, 1), -2px -2px 5px rgba(239, 251, 255, 1);
}

option {
  color: rgb(15, 15, 15);
}

.input::placeholder {
  color: rgba(239, 251, 255, 1);
}

.form__button {
  text-transform: uppercase;
  padding: 10px 60px;
  color: rgba(0, 32, 74, 1);
  background-color: rgba(239, 251, 255, 1);
  font-size: 20px;
  font-family: Gilroy-500;
  transition: all 0.3s ease 0s;
}

.form__button:focus {
  border: 1px solid rgba(239, 251, 255, 1);
}

.form__button:hover {
  color: rgba(239, 251, 255, 1);
  background-color: rgba(0, 32, 74, 1);
}

h2 {
  font-size: 46px;
  font-family: Gilroy-700;
  text-transform: uppercase;
}

.details-btn,
.details-btn:visited {
  padding: 14px 40px;
  text-transform: uppercase;
  font-family: Gilroy-500;
  font-size: 20px;
  color: #FFFFFF;
  margin: 50px 0px 18px 0px;
  background: #005792;
  max-width: 200px;
  margin: 20px auto;
  transition: all 0.3s ease 0s;
  border: 1px solid #ffffff;
}

.details-btn:hover {
  color: #005792;
  background: #ffffff;
  border: 1px solid #005792;
}

/* ----------Header---------------- */
.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  background-color: rgba(239, 251, 255, 1);
  padding: 0px 0px 40px 0px;
  transition: all 0.9s ease 0s;
  top: 0;
  box-shadow: 0px 3px 10px #00204A;
}

.header.hidden {
  top: -150%;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo__wrap {
  padding: 30px 20px;
  font-family: Gilroy-700;
  font-size: 35px;
  font-style: italic;
}

/* burger */
.burger {
  width: 47px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.burger span {
  width: 100%;
  height: 7px;
  display: block;
  border-radius: 2px;
}

.burger span:last-child {
  width: 32px;
  align-self: flex-end;
}

.burger.header__burger__inside span {
  background-color: rgba(0, 87, 146, 1);
}

.header__burger__outside {
  position: fixed;
  top: 30px;
  right: 10px;
  z-index: 15;
}

.header__burger__outside span {
  background-color: #a09494;
}

/* nav */
.header__nav__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav__link {
  font-family: Gilroy-300;
  text-transform: uppercase;
  font-size: 25px;
  border: 1px solid rgba(0, 87, 146, 1);
  height: 50px;
  width: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}

/* ----------------offer--------------------- */
.offer__slider__item {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.offer__slider__item img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

/* offer__slider */
.offer__slider {
  position: relative;
}

.offer__slider .slick-list {
  overflow: hidden;
}

.offer__slider .slick-track {
  display: flex;
  align-items: flex-start;
}

.offer__slider .slick-dots {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  left: 50px;

}

.offer__slider .slick-dots li {
  margin: 20px 0px;
}

.offer__slider .slick-dots li.slick-active button {
  background: #ffffff;
}

.offer__slider .slick-dots button {
  font-size: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  border: 2px solid #ffffff;
}

/* offer__content */
.offer__content {
  min-height: 220px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
}

.offer__form {
  width: 44%;
  max-width: 622px;
  min-height: 247px;
  background: linear-gradient(rgba(0, 87, 146, 1), rgba(0, 187, 240, 1));
  transform: translate(0px, -55px);
  margin-right: 40px;
  text-align: center;
  padding: 0px 31px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.offer__title {
  font-family: Gilroy-700;
  color: rgba(0, 32, 74, 1);
  font-size: 40px;
  text-transform: uppercase;
}

.offer__form__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.offer__form__input {
  width: 49%;
  margin: 0px 0px 10px 0px;
}

/* --------------- staff -------------------- */

.staff {
  padding: 100px 0px;
  background-color: rgba(0, 32, 74, 1);
}

.staff__body {
  max-width: 1313px;
  background: linear-gradient(180deg, rgba(0, 87, 146, 1) 0%, rgba(0, 187, 240, 1) 100%);
  margin: 0px auto;
  text-align: center;
  padding: 46px 0px 0px 0px;
  position: relative;
}

.staff__arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50%;
  display: none;
}

.staff__arrow img {
  height: 100%;
}

.staff__arrow-prew {
  left: 10px;
}

.staff__arrow-next {
  right: 10px;
}

.staff__title {
  color: #EFFBFF;
  margin: 0px 0px 53px 0px;
}

.staff__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.staff__item {
  width: 210px;
  height: 159px;
  background-color: rgba(239, 251, 255, 1);
  position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  margin: 0px 15px 224px 15px;
  padding: 13px;
  box-shadow: 0px 3px 10px rgba(0, 32, 74, 1);
}

.staff__item__title {
  font-size: 19px;
  line-height: 21px;
  color: #00204A;
  font-family: Gilroy-700;
  text-transform: uppercase;
}

.staff__item__img {
  width: 184px;
  height: 184px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  box-shadow: 0px 3px 7px rgba(0, 32, 74, 0.5);
  border-radius: 50%;
}

.staff__item_1 .staff__item__img,
.staff__item_2 .staff__item__img,
.staff__item_3 .staff__item__img,
.staff__item_4 .staff__item__img,
.staff__item_5 .staff__item__img {
  bottom: -50%;
}

.staff__item_6 .staff__item__img,
.staff__item_7 .staff__item__img,
.staff__item_8 .staff__item__img,
.staff__item_9 .staff__item__img,
.staff__item_10 .staff__item__img {
  top: -50%;
}

.staff__item_6,
.staff__item_7,
.staff__item_8,
.staff__item_9,
.staff__item_10 {
  align-items: flex-end;
}

/* --------------- advantages -------------------- */
.advantages {
  background-color: rgba(0, 32, 74, 1);
  text-align: center;
  padding: 50px 0px 100px 0px;
  position: relative;
  overflow: hidden;
}

.advantages__title {
  color: #EFFBFF;
  margin-bottom: 70px;
}

.advantages__list {
  max-width: 647px;
  display: flex;
  flex-wrap: wrap;
  margin: 0px auto;
}

.advantages__item {
  display: flex;
  align-items: center;
  color: #EFFBFF;
  min-height: 120px;
  width: 100%;
  background: linear-gradient(90deg, rgba(0, 87, 146, 1), rgba(0, 187, 240, 1));
  border-radius: 100px;
  margin: 20px 0px;
  padding: 20px 100px 20px 30px;
  position: relative;
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);
}

.advantages__item__number {
  font-size: 70px;
  font-family: Gilroy-500;
}

.advantages__item__title {
  font-size: 25px;
  font-family: Gilroy-500;
  text-transform: uppercase;
  margin: 0px 0px 10px 0px;
}

.advantages__item__wrap__title {
  padding: 0px 20px;
  align-self: start;
}

.advantages__item__subtitle {
  font-size: 20px;
  font-family: Gilroy-300;
}

.advantages__item__img {
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(0, 87, 146, 1), rgba(0, 187, 240, 1));
  border-radius: 50%;
  width: 142px;
  height: 142px;
  transform: translate(30%, -10%);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
  z-index: 2;
}

.advantages__item__img img {
  height: 90%;
}

.advantages__item__img.min img {
  height: 75%;
}

.advantages__arrow {
  position: absolute;
  width: 83px;
  height: 156px;
}

.arrow-left {
  left: -50px;
  top: 50px;
}

.arrow-right {
  right: -85px;
  top: 50px;
}

.advantages__circle {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(rgba(0, 187, 240, 0.2), rgba(0, 32, 74, 0));
  /* display: none; */
}

.circle1 {
  width: 220px;
  height: 220px;
  top: 200px;
  left: -40px;
  transform: rotate(120deg);
}

.circle2 {
  width: 346.26px;
  height: 346.26px;
  top: 330px;
  left: -180px;
  transform: rotate(83.29deg);
}

.circle3 {
  width: 346.26px;
  height: 346.26px;
  top: 430px;
  right: -190px;
  transform: rotate(165deg);
}

.circle4 {
  width: 220px;
  height: 220px;
  top: 630px;
  right: -40px;
  transform: rotate(-82.63deg);
}

/* --------------- blog -------------------- */
.blog {
  padding: 100px 0px 50px 0px;
  background-color: rgba(255, 255, 255, 1);
}

.blog__title {
  color: rgba(0, 87, 146, 1);
  text-align: center;
  margin: 0px 0px 14px 0px;
}

.blog__title span {
  font-family: Gilroy-300;
}

.blog__articl {
  display: flex;
  justify-content: center;
}

.blog__articl__item {
  width: 50%;
  max-width: 541px;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px #a09494;
  text-align: center;
  margin-bottom: 50px;
}

.blog__articl__item__desc {
  padding: 0px 40px;
  font-size: 18px;
  font-family: Gilroy-400;
  color: #545454;
  line-height: 21px;
  flex: 1 1 auto;
}

.blog__articl__item__desc__title {
  font-family: Gilroy-700;
  text-transform: uppercase;
  margin: 17px 0px;
}

.blog__articl__item__desc__published {
  margin: 14px 0px;
}

.published {
  display: inline;
}

.published-data {
  display: inline;
  font-family: Gilroy-700;
}

.blog__articl__item__img img {
  width: 100%;
  height: 100%;
}


/*--------------- join ------------*/
.join {
  padding: 140px 0px 160px 0px;
  background: url(../img/background-form.png) no-repeat center top /cover;
  position: relative;
  text-align: center;
  color: rgba(239, 251, 255, 1);
}

.join::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(0, 187, 240, 0.9), rgba(0, 87, 146, 0.9));
}

.join__content {
  position: relative;
  z-index: 2;
}

.join__form {
  width: 80%;
  margin: 40px auto 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.join__form__input,
.join__form__button {
  width: 32%;
  margin: 0px 0px 15px 0px;
}

.join__form__button {
  padding: 10px 20px;
}

/*--------------- reviews ------------*/
.reviews {
  padding: 100px 0px 50px 0px;
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  color: #00204A;
}

.reviews .container {
  padding: 0px 50px;
}

.reviews__title {
  margin: 0px 0px 40px 0px;
}

/* reviews__slider__img */
.reviews__slider__img__item img {
  width: 140px;
  height: 140px;
}

.reviews__slider__img__item.slick-center img {
  width: 170px;
  height: 170px;
}

.reviews__slider__img__item:not(.slick-center) img {
  opacity: 0.6;
}

.reviews__slider__img {
  position: relative;
}

.reviews__slider__img .slick-list {
  overflow: hidden;
}

.reviews__slider__img .slick-track {
  display: flex;
  align-items: center;
}

.reviews__slider__img .slick-arrow {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 0;
  z-index: 10;
}

.reviews__slider__img .slick-arrow.slick-prev {
  background: url(../img/arrow-prew-reviews.svg) no-repeat center;
  left: -55px;
}

.reviews__slider__img .slick-arrow.slick-next {
  background: url(../img/arrow-next-reviews.svg) no-repeat center;
  right: -55px;
}

/* reviews__slider__desc */
.reviews__slider__desc {
  max-width: 785px;
  margin: 0px auto;
  position: relative;
}

.reviews__slider__desc .slick-list {
  overflow: hidden;
}

.reviews__slider__desc .slick-track {
  display: flex;
}

.reviews__slider__desc__item {
  padding: 50px 0px;
}

.reviews__slider__desc__item__title {
  text-transform: uppercase;
  font-size: 30px;
  font-family: Gilroy-700;
}

.reviews__slider__desc__item__sub {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Gilroy-400;
}

.reviews__slider__desc__item__text {
  font-size: 20px;
  margin: 20px 0px 70px 0px;
  font-family: Gilroy-400;
  font-style: italic;
}

/* --------------- footer -------------------- */
.footer {
  background-color: rgba(0, 32, 74, 1);
  padding: 100px 0px 50px 0px;
  color: rgba(255, 255, 255, 1);
}

.footer__content {
  display: flex;
  max-width: 90%;
  margin: 0px auto;
}

.footer__form {
  width: 360px;
  padding: 29px 19px 19px 19px;
  background: linear-gradient(rgba(0, 87, 146, 1), rgba(0, 187, 240, 1));
  box-shadow: 5px 5px 20px rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0px 80px 0px 0px;
}

.footer__form__input {
  width: 100%;
  margin: 0px 0px 15px 0px;
}

.footer__form__button {
  width: 100%;
}

.footer__adress {
  display: flex;
}

.footer__adress-column:nth-child(1) {
  margin: 0px 70px 0px 0px;
}

.footer__adress__item {
  max-width: 240px;
  position: relative;
  font-style: normal;
  margin: 0px 0px 20px 0px;
}

.footer__adress__item__icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 5;
  left: -37px;
}

.footer__adress__item__title {
  margin: 0px 0px 10px 0px;
  font-size: 30px;
  font-family: Gilroy-500;
}

.footer__adress__item__text,
.footer__adress__item a {
  display: block;
  margin: 0px 0px 5px 0px;
  color: rgba(255, 255, 255, 1);
  font-family: Gilroy-300;
  font-size: 20px;
}

.footer__adress__item a:hover {
  text-shadow: 1px 1px 3px #ffffff
}

.footer__social {
  display: flex;
  justify-content: space-between;
}

.footer__social__link {
  width: 70px;
  height: 70px;
  background: linear-gradient(rgba(0, 87, 146, 1), rgba(0, 187, 240, 1));
  border-radius: 50%;
  text-align: center;
}

.footer__social__link:hover {
  transform: scale(1.05);
}

.footer__social__link i {
  font-size: 45px;
  line-height: 70px;
  color: rgba(255, 255, 255, 1);
}